@use "~/styles/mixins" as *;
@use "~/styles/colors" as *;

.details {
  color: $pen-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-inline: 10px;
  @include xl {
    padding-inline: 14px;
  }
  @include xxl {
    padding-inline: 20px;
  }
  @include xxxl {
    padding-inline: 26px;
  }
}
.info {
  margin-right: pxrem(8);
  position: relative;
  top: pxrem(8);
  @include bold-filter($pen-color, $bold: false);
  @include fixedSize(20px);
  @include xl {
    @include fixedSize(24px);
  }
  @include xxl {
    @include fixedSize(28px);
  }
  @include xxxl {
    @include fixedSize(32px);
  }
}
.text,
.results {
  align-items: center;
  gap: 4px;
  line-height: pxrem(32);
  font-size: pxrem(24);
  margin: 0 0 pxrem(20) 0;
  & span {
    @include bold-filter;
  }
}
.results {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr;
}
.cwArrow {
  scale: -1 1;
  display: inline-block;
}
.inline {
  margin: 0;
}
.neutral {
  color: $info;
  @include bold-filter($info, $bold: false);
}
.text span.success {
  color: $dark-success;
  @include bold-filter($dark-success, $bold: false);
}
.error {
  color: $light-error;
  &:is(svg) {
    @include bold-filter($light-error, $bold: false);
  }
  &:is(span) {
    @include bold-filter($light-error);
  }
}
.warning {
  color: $warn;
  &:is(svg) {
    @include bold-filter($warn, $bold: false);
  }
  &:is(span) {
    @include bold-filter($warn);
  }
}
.success {
  color: $success;
  &:is(svg) {
    @include bold-filter($success, $bold: false);
  }
  &:is(span) {
    @include bold-filter($success);
  }
}
.pen {
  color: $pen-color;
  &:is(svg) {
    @include bold-filter($pen-color, $bold: false);
  }
  &:is(span) {
    @include bold-filter($pen-color);
  }
}
.fightButton {
  align-self: center;
  margin-top: 8px;
  min-width: 100px;
  @include xl {
    margin-top: 10px;
    min-width: 110px;
  }
  @include xxl {
    margin-top: 14px;
    min-width: 130px;
  }
  @include xxxl {
    margin-top: 20px;
    min-width: 150px;
  }
}
.energomoduleContainer {
  width: 50%;
  height: pxrem(100);
  margin: 0 auto;
  position: relative;
  mix-blend-mode: darken;
  clip-path: inset(0px 1px 0px 0px);
}
.missileUnderlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  & svg {
    color: rgba($pen-color, 0.2);
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to right, transparent 48%, black 51%);
    mask-size: 200% 100%;
    mask-position: calc(100% - var(--progress) * 100%);
    mask-repeat: no-repeat;
    transition: mask-position 1s linear;
  }
}
.missile {
  position: relative;
  mix-blend-mode: darken;
  width: 100%;
  height: 100%;
  isolation: isolate;
  & svg {
    mask-image: linear-gradient(to right, black 48%, transparent 51%);
    mask-size: 210% 100%;
    mask-position: calc(100% - var(--progress) * 100%);
    mask-repeat: no-repeat;
    transition: mask-position 1s linear;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    mix-blend-mode: lighten;
    pointer-events: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    pointer-events: none;
    .error & {
      background: linear-gradient(90deg, #671648 0%, #f80923 100%);
    }
    .success & {
      background: linear-gradient(90deg, #145c63 0%, #0ac44a 100%);
    }
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    color: black;
  }
}
.center {
  text-align: center;
}
