.disabled {
  pointer-events: none;
  opacity: 0.5;
}

// Fade transition (только opacity)
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}

// Page transitions
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from {
  opacity: 0;
  transform: scale(0.8);
}

.page-leave-to {
  opacity: 0;
  transform: scale(1.2);
}

// Slide transition
.slide-enter-active,
.slide-leave-active {
  transition: all 0.4s ease-in-out;
}

.slide-enter-from {
  opacity: 0;
  transform: translateX(100%);
}

.slide-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

// FadeScale transition (opacity + scale)
.fadeScale-enter-active,
.fadeScale-leave-active {
  transition: all 20.3s ease-in-out;
}

.fadeScale-enter-from {
  opacity: 0;
  transform: scale(0.8);
}

.fadeScale-leave-to {
  opacity: 0;
  transform: scale(1.2);
}

// Scale transition
.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease-in-out;
}

.scale-enter-from {
  opacity: 0;
  transform: scale(0.8);
}

.scale-leave-to {
  opacity: 0;
  transform: scale(1.2);
}
